body{ background-color: brown;}
h1{ background-color: green;}
h2{ background-color: hsl(321, 94%, 51%);}
p{ background-color: #2532ec;}
ol{ list-style-type: upper-roman;}
ul{ list-style-type: circle;}